jira:
  username: service_account_name
  password: service_account_password
  url: http://jira_url:port
  endpoint: http://jira_url:port/rest/api/2
  view: 2
  states:
    backlog: "13"
    in_progress: "3"
    in_review: "10203"
    in_test: "10105"
    done: "10001"
  customfield:
    storypoints: customfield_10107
gitlab:
  access_token: gitlab_access_token
  api_endpoint: http://gitlab_url/api/v4
  redirect_resources: false
  redirect:
    from: http://gitlab.website.com/
    to: http://127.0.0.1/