$background-color: rgba(167, 212, 236, 0.4);
$updated-at-color: rgba(255, 255, 255, .5);;

.widget-gitlab-ci-open-mergerequests {
    .open-merge-requests {     
        padding-left: .3rem;
        padding-right: .3rem;  
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 95%;
        justify-items: stretch;
    
        .widget_title {
            margin: 1rem;
        }

        .merge-request {
            padding: .6rem;
            margin-top: .2rem;
            margin-bottom: .2rem;
            background: rgba($color: white, $alpha: 0.2);
            display: grid;
            grid-template-columns: 3rem auto;
            grid-template-rows: auto auto;
            gap: .2rem;

            .merge-request-user-info {
                grid-column: 1;
                grid-row-start: 1;
                grid-row-end: span 2;
                display: flex;
                align-items: center;
            }

            .merge-request-base-info {
                grid-column: 2;
                grid-row: 1;
                padding-left: .6rem;
                padding-right: .6rem;
                font-size: .8rem;
                font-family: 'Open Sans';
                font-weight: 300;
                display: flex;
                flex-direction: row;
                align-items: flex-start;

                .merge-request-id {
                    &::before {
                        content: "#";
                    }
                }
        
                .merge-request-project-name {
                    &::before {
                        padding: .2rem;
                        content: "|";
                    }
                }
            }
    
            .merge-request-user {

                .merge-request-user-avatar {
                    border-radius: 50%;
                    width: 3rem;
                    height: 3rem;
                }

                .merge-request-user-empty{
                    font-size: 2.5rem;
                }
            }
    
            .merge-request-data {
                padding-left: .6rem;
                padding-right: .6rem;
                grid-column: 2;
                grid-row: 2;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                .merge-request-meta {
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
    
                    .merge-request-date {
                        &::before {
                            padding: .2rem;
                            content: "|";
                        }
                    }
                }
    
                .merge-request-summary {
                    padding-top: .1rem;
                    padding-bottom: .1rem;
                    text-align: left;
                    font-size: 1rem;
                }
            }
        }

        .no-merge-requests {
            margin: 2rem;
                
            .no-open-merge-requests-icon {
                font-size: 4rem;
                margin-bottom: 1rem;
            }

            .no-open-merge-requests-hint {
                font-size: 1rem;
            }
        }
    }

    .updated_at {
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
        font-weight: unset;
        font-size: 1rem;
        color: rgba(255, 255, 255, .5);

        &::before {
            content: "Stand: ";
        }
    }
}