$background-color: rgba(167, 212, 236, 0.4); 
$days-color:       #fff;
$board-color:      rgba(255, 255, 255, 0.7);
$sprint-color:     rgba(255, 255, 255, 0.7);
$updated-at-color: rgba(0, 0, 0, 0.3);

.widget-jira-sprint-board-status {
  background-color: $background-color;

  .board {
    color: $board-color;
  }

  .row
  {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
  }

  .column
  {
    display: table-cell;
  }

  .column-big
  {
    display: table-cell;
    font-size: 80px;
    font-weight: bold;
  }

  .column-medium
  {
    display: table-cell;
    font-size: 40px;
    font-weight: bold;
  }

  .column-small
  {
    display: table-cell;
    font-size: 25px;
  }
}
