$background-color: rgba(167, 212, 236, 0.4); 
$days-color: #fff;
$board-color: rgba(255, 255, 255, 0.7);
$sprint-color: rgba(255, 255, 255, 0.7);
$updated-at-color: rgba(0, 0, 0, 0.3);

$states: 5;
$column-width: 100% / $states;


.widget-jira-sprint-board-status {
  background-color: $background-color;

  .sprint-status {
    display: grid;
    grid-template-columns: repeat($states, $column-width);
    grid-template-rows: 100%;

    .sprint-status-column {
      display: flex;
      align-items: end;
      flex-flow: column;

      .sprint-state-icon {
        font-size: 4rem;
        width: 100%;
      }

      .sprint-state-label {
        width: 100%;
        text-align: center;
        margin-top: .4rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      .sprint-state-total-sp {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        line-height: 1.44;

        &::after {
          content: " Story Points";
        }
      }

      .sprint-state-total-tickets {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        line-height: 1.44;

        &::after {
          content: " Tickets";
        }


      }
    }
  }
}
