.widget-gitlab-ci-status {

    padding: .3rem;

    .project {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 2rem;
        background: rgba(255,255,255,.3);

        .project-name {
            text-align: left;
        }
        .pipelines {
            display: flex;
            align-content: space-around;
            align-items: center;
            justify-content: center;

            &> div {
                flex-grow: 1;
                flex-shrink: 1;
            }

            .pipeline-icon {
                
            }
            .success {
                .pipeline-icon::before {
                    content: "S";
                }
                .pipeline-branch {
                    display: none;
                }
            }
        }
    }
        .updated_at {
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
        font-weight: unset;
        font-size: 1rem;
        color: rgba(255, 255, 255, .5);

        &::before {
            content: "Stand: ";
        }
    }
}