// light blue theme
$background-color: rgba(167, 212, 236, 0.7);
$days-color:       #fff;
$board-color:      rgba(255, 255, 255, 0.7);
$sprint-color:     rgba(255, 255, 255, 0.7);
$updated-at-color: rgba(0, 0, 0, 0.3);

/*
// light grey theme
$background-color: #999; 
$days-color:       #fff;
$board-color:      rgba(255, 255, 255, 0.7);
$sprint-color:     rgba(255, 255, 255, 0.7);
$updated-at-color: rgba(0, 0, 0, 0.3);
*/

/*
// black theme
$background-color: #000; 
$days-color:       #fff;
$board-color:      rgba(255, 255, 255, 0.7);
$sprint-color:     rgba(255, 255, 255, 0.7);
$updated-at-color: rgba(255, 255, 255, 0.7);
*/

/*
// white theme
$background-color: #fff; 
$days-color:       rgba(0, 0, 0, 0.7);
$board-color: rgba(0, 0, 0, 0.3);
$sprint-color: rgba(0, 0, 0, 0.3);
$updated-at-color: rgba(0, 0, 0, 0.3);
*/

.widget-jira-sprint-remaining-days {
  background-color: $background-color;

  .board {
    color: $board-color;
  }

  .sprint-name {
    color: $sprint-color;
  }
  
  .days-remaining {
    color: $days-color;
  }
  
  .updated-at {
    color:$updated-at-color;
  }
}